<form action="/entries" method="POST">

    <fieldset>
        <h2>Title your entry</h2>
        <textarea name="title" id="title"></textarea>
    </fieldset>

    <fieldset>
        <header>
            <h2>How do you feel?</h2>
            <p>Pick the mood that best fits your day.</p>
        </header>
        <div>
            {{#each emotions}}
            <label>
                <input type="radio" id="emotion-{{this.name}}" name="emotionId" value="{{this._id}}" required>
                <img src="{{this.iconPath}}" alt="{{this.name}}">
                <p>{{this.name}}</p>
            </label>
            {{/each}}
        </div>
    </fieldset>

    <fieldset>
        <header>
            <h2>How about energy?</h2>
            <p>What's your power level at?</p>
        </header>
        <div>
            {{#each energies}}
            <div>
                <input type="radio" id="energy-{{this.name}}" name="energyId" value="{{this._id}}" required>
                <label for="energy-{{this.name}}" class="energy-segment" style="background-color: {{this.color}};"></label>
                <label for="energy-{{this.name}}" class="energy-label">{{this.name}}</label>
            </div>
            {{/each}}
        </div>
    </fieldset>

    <fieldset>
        <header>
            <h2>What activities did you do?</h2>
            <p>Choose as many as you did!</p>
        </header>
        <div>
            {{#each activities}}
            <div id="category-{{@key}}">
                <h3>{{@key}}</h3>
                <div>
                    {{#each this}}
                    <label>
                        <input type="checkbox" name="activities[]" value="{{this._id}}">
                        <span>{{this.name}}</span>
                    </label>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </fieldset>

    <fieldset>
        <header>
            <h2>Who shared your day?</h2>
            <p>If no one, it's alright!</p>
        </header>
        <div>
            {{#each socials}}
            <label>
                <input type="checkbox" name="socials" value="{{this._id}}">
                <span>{{this.name}}</span>
            </label>
            {{/each}}
        </div>
    </fieldset>

    <fieldset>
        <header>
            <h2>Jot down your day's highlights</h2>
            <p>Think about what you did...</p>
        </header>
        <textarea name="notes" id="notes"></textarea>
    </fieldset>

    <button type="submit">Submit Entry</button>
</form>