<section class="entry">
    <h3>Date: {{formatDate entry.date}}</h3>
    {{#if entry.updatedOn}}
    <h3>Edited on: {{formatDate entry.updatedOn}}</h3>
    {{/if}}
    <p>Notes: {{entry.notes}}</p>

    <h4>Emotion: {{emotion.name}}</h4>
    <h4>Energy: {{energy.name}}</h4>

    <h4>Activities:</h4>
    <ul>
        {{#each activities}}
        <li>{{this.name}}</li>
        {{else}}
        <li>No activities</li>
        {{/each}}
    </ul>

    <h4>Socials:</h3>
    <ul>
        {{#each socials}}
        <li>{{this.name}}</li>
        {{else}}
        <li>No social interactions</li>
        {{/each}}
    </ul>

    <!-- button to edit -->
    <button><a href="/entries/{{entry._id}}/edit">Edit Entry</a></button>

    <!-- button to delete -->
    <form action="/entries/{{entry._id}}/delete" method="POST">
        <input type="hidden" name="userId" value="{{entry.userId}}">
        <button type="submit">Delete Entry</button>
    </form>


    <button><a href="/entries">Back to all Entries</a></button>
</section>