<div class="main-container">
    <div>
        <section id="entries-single">
            <header>
                <div id="emotion-circle">
                    <img src="{{emotion.iconPath}}">
                </div>
                <div id="energy-bar">
                    <span class="energy-indicator"></span>
                    <span class="energy-indicator"></span>
                    <span class="energy-indicator"></span>
                    <span class="energy-indicator"></span>
                    <span class="energy-indicator"></span>
                </div>
            </header>
             
            <h1>{{entry.title}}</h1>
            <div id="entry-dates">
                <h4>{{formatDate entry.date}}</h4>
                {{#if entry.updatedOn}}
                <h4>Updated on: {{formatDate entry.updatedOn}}</h4>
                {{/if}}
            </div>
            <p>{{entry.notes}}</p>

            <div>
                <h2>Activities</h2>
                <ul>
                    {{#each activities}}
                    <li>{{this.name}}</li>
                    {{else}}
                    <li>No activities</li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <h2>Socials</h2>
                <ul>
                    {{#each socials}}
                    <li>{{this.name}}</li>
                    {{else}}
                    <li>No social interactions</li>
                    {{/each}}
                </ul>
            </div>

            <div>
                <button><a href="/entries/{{entry._id}}/edit">Edit Entry</a></button>
                <form action="/entries/{{entry._id}}/delete" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </section>  
    </div>
</div>

